<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kmucs.dugeun">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2z4OWoK4JJccnoxQw_AZZ221dQffRSfM" />

        <!-- 어플을 실행하면 보이는 첫번째 액티비티 : splash
             res > values > styles 에서 설정해줬음 -->
        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Duguen" />

        <activity android:name=".countrymemo" />

        <activity android:name=".onememo_main" />

        <activity android:name=".cashbook" />

        <activity android:name=".mappage" />

        <activity android:name=".we_are"/>

        <activity android:name=".info2"/>



        <activity android:name=".exchange">
        </activity>

        <activity
            android:name=".MemoInsertActivity" />

        <activity
            android:name=".PhotoCaptureActivity" />

        <activity
            android:name=".PhotoSelectionActivity" />

    </application>


</manifest>
